@tailwind base;
@tailwind components;
@tailwind utilities;

.delorean {
  background-image: url("/demo/demo_car.png");
}

.clocktower {
  background-image: url("/demo/demo_clocktower.png");
}

.doc {
  background-image: url("/demo/demo_doc.png");
}

.hoverboard {
  background-image: url("/demo/demo_hoverboard.png");
}
